{% extends 'base.html.twig' %}

{% block title %}{{ __u('user.create') }}{% endblock %}

{% block pageTitle %}
    <h1>{{ __u('user.create') }}</h1>
{% endblock pageTitle %}

{% block body %}
    
    <div class="row">
        <div class="col-12 text-right">
            {{ create_link('app_backend_user_index', __('user.all.index'), {'id': user.id, _locale: locales.locale}, {class: 'btn btn-info'} ) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mx-auto">
            {{ include(viewPath ~ '/_form.html.twig') }}
        </div>
    </div>
    
{% endblock %}
