{% for message in app.flashes('error') %}
<div class="alert alert-danger text-center">{{ message | raw }}</div>
{% endfor %} {% for message in app.flashes('success') %}
<div class="alert alert-success text-center">{{ message | raw }}</div>
{% endfor %}
